*.csv text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

data/atomic_clocks/source_artifacts/pizzocaro-2020-yb-sr/*.csv binary

*.gif binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.webp binary
